/*home*/
/*desktop view*/
.a
{
  text-align: center;
}
.a img{
  width: 100%;
}
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:40%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /*flex properties*/
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 50%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
    /* mobile view*/
   @media only screen and (min-width: 320px) and (max-width: 767px){
     .a
     {
      text-align: center;
    }
    .a img
    {
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:75%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /*flex properties*/
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 90%;
    height: 50%;
     border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
   .a
   {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:75%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 90%;
    text-align: center;
    /*flex properties*/
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 98%;
    margin: 0%;
    padding: 0%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 100%;
    height: 65%;
    border-radius: 30px;
  }
  footer
  {
     color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*about us*/
/*desktop view*/
.a{
      text-align: center;
    }
    .a img
    {
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:40%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;

    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .h {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    footer{
       color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
    }
    /*mobile view*/
    @media only screen and (min-width: 320px) and (max-width: 767px)
    {
    .a
    {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:83%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:20px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 98%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:3%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:30%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;

    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .h {
      width:30%;
      text-align:right; 
      padding-left:3%;
      font-style:oblique;
      font-size: 20px;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
      font-size: 90%;
    }
  }
  /*laptop view*/
  @media only screen and (min-width: 768px) and (max-width: 1023px){
  /*About us*/
      .a
      {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:40%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:20px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 98%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:3%;
      font-style:oblique;
      font-size: 15px;
    }
    .f{
      width:30%;
      padding-left:9%;
      font-style:oblique;
      font-size: 15px;
      padding-top: 2%;

    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .h {
      width:30%;
      text-align:right; 
      padding-left:3%;
      font-style:oblique;
      font-size: 15px;
    }
    footer
    {
      width: 100%;
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*seed*/
  /*desktop view*/
   .a
   {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:60%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 4%;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
    /*mobile view*/
     @media only screen and (min-width: 320px) and (max-width: 767px){
    /*seed*/
    .a
    {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:83%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 24%;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*laptop view*/
  @media only screen and (min-width: 768px) and (max-width: 1023px)
  {
    /*seed*/
      .a
      {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:80%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 6%;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*operations*/
  /* desktop view*/
    .a{
    
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .j {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .k{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
    /*mobile view*/
    @media only screen and (min-width: 320px) and (max-width: 767px){
     .a{
    
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .j {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .k{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*laptop view*/
  @media only screen and (min-width: 768px) and (max-width: 1023px){
   .a{
    
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    .container1{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .j {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .k{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*tify*/
  /*desktop view*/
  .a{
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:60%;
      left:35%;
      color:skyblue;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
     .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;

    }
    .f{
      width:40%;
      padding-left:9%;
      padding-top: 10%;
      font-style:oblique;
      font-size: 20px;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
    /*mobile view*/
     @media only screen and (min-width: 320px) and (max-width: 767px)
     {
       .a
       {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:80%;
      left:25%;
      color:blue;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
     .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;

    }
    .f{
      width:40%;
      padding-left:9%;
      padding-top: 43%;
      font-style:oblique;
      font-size: 20px;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*laptop view*/
   @media only screen and (min-width: 768px) and (max-width: 1023px)
   {
   .a{
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:80%;
      left:35%;
      color:blue;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
     .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;

    }
    .f{
      width:40%;
      padding-left:9%;
      padding-top: 10%;
      font-style:oblique;
      font-size: 20px;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /* culture*/
  /* desktop view*/
  .a{
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .d{
      position:absolute;
      bottom:60%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
    /*mobile view*/
    @media only screen and (min-width: 320px) and (max-width: 767px)
    {
    .a
    {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:85%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*laptop view*/
  @media only screen and (min-width: 768px) and (max-width: 1023px)
  {
  .a
  {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:85%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 2%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*registor form*/
  /*desktop view*/
  /*registerform */
   .a
   {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .m
    {
      margin-top: 50px;
      text-align: center;
      width: 70%;
      margin-left: 300px;
      background-color: skyblue;
      color: white;
      height: 25%;
      padding: 3%;
      padding-left: 30px;
      border-radius: 50px;
      padding-bottom: 20px;
    }
    .k
    {
      opacity: 0.6;
      border-radius:8px;
    }
    .d
    {
      margin-top: 90px;
    }
    input[type=text],select
    {
      width:220px;
      padding:8px;
      
      border:2px solid green;
      border-radius: 5px;
    }
    button{
      background-color: white;
      color: blue;
      width:90px;
      height: 50px;


    }
    button:hover
    {
      background-color: white;
      color: black;
    }
    #ima1
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSnn79xPHjLXbTfQpciqA9bLKMfMjHAeMaTOxoljUhFRag21WH&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima2
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUpewa9zrwh6bbk3XZskf3DP_k_89Dy0USuD7sy_WbVbrXtYJC&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima3
    {
      background-image: url("https://static.thenounproject.com/png/5701-200.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #img4
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJI3vtazradrLAAimWZP612baDHlHSIws6SA&usqp=CAU");
      position: left;
      padding-left: 40px;
      background-size: 40px;
      background-repeat: no-repeat;
    }
    #ima5
    {
      background-image: url("https://cdn2.iconfinder.com/data/icons/event-app-1/53/phone-512.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    footer
    {
      color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
    }
    /*mobile view*/
    @media only screen and (min-width: 320px) and (max-width: 767px)
    {
     .a
     {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
       width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .m
    {
     margin-top: 50px;
      text-align: center;
      width: 280px;
      margin-left: 15px;
      background-color: skyblue;
      color: white;
      height: 25%;
      padding: 1%;
      padding-left: 10px;
      border-radius: 50px;
      padding-bottom: 20px; 
    }
    .k
    {
      opacity: 0.6;
      border-radius:10px;
    }
    .n
    {
      margin-top: 90px;
    }
    input[type=text],select
    {
      width:200px;
      padding:8px;
      
      border:2px solid green;
      border-radius: 5px;
    }
    button{
      background-color: white;
      color: blue;
      width:90px;
      height: 50px;


    }
    button:hover
    {
      background-color: white;
      color: black;
    }
    #ima1
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSnn79xPHjLXbTfQpciqA9bLKMfMjHAeMaTOxoljUhFRag21WH&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima2
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUpewa9zrwh6bbk3XZskf3DP_k_89Dy0USuD7sy_WbVbrXtYJC&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima3
    {
      background-image: url("https://static.thenounproject.com/png/5701-200.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #img4
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJI3vtazradrLAAimWZP612baDHlHSIws6SA&usqp=CAU");
      position: left;
      padding-left: 40px;
      background-size: 40px;
      background-repeat: no-repeat;
    }
    #ima5
    {
      background-image: url("https://cdn2.iconfinder.com/data/icons/event-app-1/53/phone-512.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 20px;
    }
  }
  /*laptop view*/
 @media only screen and (min-width: 768px) and (max-width: 1023px)
  {
     .a
     {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
            width:20%;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .m
    {
      margin-top: 50px;
      width: 110%;
      margin-left: 90px;
      background-color: skyblue;
      color: white;
      height: 25%;
      padding: 0%;
      padding-left: 30px;
      border-radius: 30px;
      padding-bottom: 20px;
      
    }
    .k
    {
      opacity: 0.6;
      border-radius:10px;
    }
    .n
    {
      margin-top: 90px;
    }
    input[type=text],select
    {
      width:250px;
      padding:8px;
      
      border:2px solid green;
      border-radius: 5px;
    }
    button{
      background-color: white;
      color: blue;
      width:90px;
      height: 50px;


    }
    button:hover
    {
      background-color: white;
      color: black;
    }
    #ima1
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSnn79xPHjLXbTfQpciqA9bLKMfMjHAeMaTOxoljUhFRag21WH&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima2
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUpewa9zrwh6bbk3XZskf3DP_k_89Dy0USuD7sy_WbVbrXtYJC&s");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #ima3
    {
      background-image: url("https://static.thenounproject.com/png/5701-200.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    #img4
    {
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJI3vtazradrLAAimWZP612baDHlHSIws6SA&usqp=CAU");
      position: left;
      padding-left: 40px;
      background-size: 40px;
      background-repeat: no-repeat;
    }
    #ima5
    {
      background-image: url("https://cdn2.iconfinder.com/data/icons/event-app-1/53/phone-512.png");
      position: left;
      padding-left:40px;
      background-size: 40px;
      background-repeat: no-repeat;

    }
    footer
    {
      color:#0000e6;
      margin-top:5%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*contact */
  /*desktop view*/
  .a
  {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:60%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 20px;
      padding-top: 10%;
    }
    footer
    {
      color:#0000e6;
      margin-top:5%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
    /*mobile view*/
  @media only screen and (min-width: 320px) and (max-width: 767px)
  {
  .a{
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:83%;
      left:20%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 80%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 10px;
    }
    .f{
      width:40%;
      padding-left:9%;
      font-style:oblique;
      font-size: 10px;
      padding-top: 13%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
  /*laptop view*/
   @media only screen and (min-width: 768px) and (max-width: 1023px)
   {
  .a
  {
      text-align: center;
    }
    .a img{
      width: 100%;
    }
    .b{
      position:absolute;
      top:3%;
      width:20%;
    }
    .d{
      position:absolute;
      bottom:85%;
      left:35%;
      color:white;
    }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .container{
      display:flex;
      flex-direction:row;
      width: 100%;
    }
    .e {
      width:30%;
      text-align:right; 
      padding-left:5%;
      font-style:oblique;
      font-size: 20px;
    }
    .f{
      width:30%;
      padding-left:5%;
      font-style:oblique;
      font-size: 10px;
      padding-top: 6%;
    }
    footer
    {
      color:#0000e6;
      margin-top:3%;
      text-align: center;
      background-color: #66CC99;
      border-radius: 30px;
    }
  }
